.programs-1{
    background-image: linear-gradient(90deg, #00000075, #00000075), url("../Images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.programs-2{
    background-image: linear-gradient(90deg, #00000075, #00000075), url("../Images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.programs-3{
    background-image: linear-gradient(90deg, #00000075, #00000075), url("../Images/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}